<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% liquid
      assign color_black = '#0b0b0b'
      assign color_white = '#ffffff'
      assign color_gray_400 = '#f3f3f3'
      assign color_gray_500 = '#bebebe'
      assign color_gray_600 = '#9a9a9a'
      assign color_gray_700 = '#6f6f6f'
      assign color_blue_500 = '#0080bb'
      assign color_red_500 = '#ff2e00'
      assign color_yellow_500 = '#f0d800'
      assign color_green_500 = '#00b140'
    %}

    {% style %}
      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText.woff' | asset_url }}") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Italic.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Italic.woff' | asset_url }}") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Medium.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Medium.woff' | asset_url }}") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Bold.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Bold.woff' | asset_url }}") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      :root {
        --font-family--primary: "Futura Now Text", "Futura", "Trebuchet MS", "Arial", sans-serif;

        --font-body-family: var(--font-family--primary);
        --font-body-style: normal;
        --font-body-weight: 400;
        --font-body-weight-bold: 600;

        --font-heading-family: var(--font-family--primary);
        --font-heading-style: normal;
        --font-heading-weight: 500;

        --color-black: {{ color_black | color_extract: 'red' }}, {{ color_black | color_extract: 'green' }}, {{ color_black | color_extract: 'blue' }};
        --color-white: {{ color_white | color_extract: 'red' }}, {{ color_white | color_extract: 'green' }}, {{ color_white | color_extract: 'blue' }};
        --color-gray-400: {{ color_gray_400 | color_extract: 'red' }}, {{ color_gray_400 | color_extract: 'green' }}, {{ color_gray_400 | color_extract: 'blue' }};
        --color-gray-500: {{ color_gray_500 | color_extract: 'red' }}, {{ color_gray_500 | color_extract: 'green' }}, {{ color_gray_500 | color_extract: 'blue' }};
        --color-gray-600: {{ color_gray_600 | color_extract: 'red' }}, {{ color_gray_600 | color_extract: 'green' }}, {{ color_gray_600 | color_extract: 'blue' }};
        --color-gray-700: {{ color_gray_700 | color_extract: 'red' }}, {{ color_gray_700 | color_extract: 'green' }}, {{ color_gray_700 | color_extract: 'blue' }};
        --color-blue-500: {{ color_blue_500 | color_extract: 'red' }}, {{ color_blue_500 | color_extract: 'green' }}, {{ color_blue_500 | color_extract: 'blue' }};
        --color-red-500: {{ color_red_500 | color_extract: 'red' }}, {{ color_red_500 | color_extract: 'green' }}, {{ color_red_500 | color_extract: 'blue' }};
        --color-yellow-500: {{ color_yellow_500 | color_extract: 'red' }}, {{ color_yellow_500 | color_extract: 'green' }}, {{ color_yellow_500 | color_extract: 'blue' }};
        --color-green-500: {{ color_green_500 | color_extract: 'red' }}, {{ color_green_500 | color_extract: 'green' }}, {{ color_green_500 | color_extract: 'blue' }};

        --color-primary: var(--color-black);
        --color-secondary: var(--color-white);
        --color-tertiary: var(--color-gray-700);
        --color-accent: var(--color-blue-500);

        --color-text: var(--color-primary);
        --color-shadow: var(--color-primary);
        --color-background-light: var(--color-white);
        --color-background-dark: var(--color-gray-400);
        --color-disabled: var(--color-gray-500);
        --color-success: var(--color-green-500);
        --color-warning: var(--color-yellow-500);
        --color-error: var(--color-red-500);

        --payment-terms-background-color: {{ color_white }};

        --border-radius: 0.8rem;

        --page-width: 144rem;

        --grid-desktop-vertical-spacing: 4rem;
        --grid-desktop-horizontal-spacing: 2rem;
        --grid-mobile-vertical-spacing: 2rem;
        --grid-mobile-horizontal-spacing: 1.4rem;
      }
    {% endstyle %}

    <link rel="preload" as="font" href="{{ 'FuturaNowText.woff2' | asset_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ 'FuturaNowText-Medium.woff2' | asset_url }}" type="font/woff2" crossorigin>

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
