{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {% liquid
      assign color_black = '#0b0b0b'
      assign color_white = '#ffffff'
      assign color_gray_400 = '#f3f3f3'
      assign color_gray_500 = '#bebebe'
      assign color_gray_600 = '#9a9a9a'
      assign color_gray_700 = '#6f6f6f'
      assign color_blue_500 = '#0080bb'
      assign color_red_500 = '#ff2e00'
      assign color_yellow_500 = '#f0d800'
      assign color_green_500 = '#00b140'
    %}

    {% style %}
      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText.woff' | asset_url }}") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Italic.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Italic.woff' | asset_url }}") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Medium.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Medium.woff' | asset_url }}") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Futura Now Text";
        src: url("{{ 'FuturaNowText-Bold.woff2' | asset_url }}") format("woff2"),
            url("{{ 'FuturaNowText-Bold.woff' | asset_url }}") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      :root {
        --font-family--primary: "Futura Now Text", "Futura", "Trebuchet MS", "Arial", sans-serif;

        --font-body-family: var(--font-family--primary);
        --font-body-style: normal;
        --font-body-weight: 400;
        --font-body-weight-bold: 600;

        --font-heading-family: var(--font-family--primary);
        --font-heading-style: normal;
        --font-heading-weight: 500;

        --color-black: {{ color_black | color_extract: 'red' }}, {{ color_black | color_extract: 'green' }}, {{ color_black | color_extract: 'blue' }};
        --color-white: {{ color_white | color_extract: 'red' }}, {{ color_white | color_extract: 'green' }}, {{ color_white | color_extract: 'blue' }};
        --color-gray-400: {{ color_gray_400 | color_extract: 'red' }}, {{ color_gray_400 | color_extract: 'green' }}, {{ color_gray_400 | color_extract: 'blue' }};
        --color-gray-500: {{ color_gray_500 | color_extract: 'red' }}, {{ color_gray_500 | color_extract: 'green' }}, {{ color_gray_500 | color_extract: 'blue' }};
        --color-gray-600: {{ color_gray_600 | color_extract: 'red' }}, {{ color_gray_600 | color_extract: 'green' }}, {{ color_gray_600 | color_extract: 'blue' }};
        --color-gray-700: {{ color_gray_700 | color_extract: 'red' }}, {{ color_gray_700 | color_extract: 'green' }}, {{ color_gray_700 | color_extract: 'blue' }};
        --color-blue-500: {{ color_blue_500 | color_extract: 'red' }}, {{ color_blue_500 | color_extract: 'green' }}, {{ color_blue_500 | color_extract: 'blue' }};
        --color-red-500: {{ color_red_500 | color_extract: 'red' }}, {{ color_red_500 | color_extract: 'green' }}, {{ color_red_500 | color_extract: 'blue' }};
        --color-yellow-500: {{ color_yellow_500 | color_extract: 'red' }}, {{ color_yellow_500 | color_extract: 'green' }}, {{ color_yellow_500 | color_extract: 'blue' }};
        --color-green-500: {{ color_green_500 | color_extract: 'red' }}, {{ color_green_500 | color_extract: 'green' }}, {{ color_green_500 | color_extract: 'blue' }};

        --color-primary: var(--color-black);
        --color-secondary: var(--color-white);
        --color-tertiary: var(--color-gray-700);
        --color-accent: var(--color-blue-500);

        --color-text: var(--color-primary);
        --color-shadow: var(--color-primary);
        --color-background-light: var(--color-white);
        --color-background-dark: var(--color-gray-400);
        --color-disabled: var(--color-gray-500);
        --color-success: var(--color-green-500);
        --color-warning: var(--color-yellow-500);
        --color-error: var(--color-red-500);

        --border-radius: 0.8rem;

        --page-width: 144rem;
      }
    {% endstyle %}

    <link rel="preload" as="font" href="{{ 'FuturaNowText.woff2' | asset_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ 'FuturaNowText-Medium.woff2' | asset_url }}" type="font/woff2" crossorigin>

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <header class="gift-card__title">
      <span class="h2">{{ shop.name }}</span>
      <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
      <div class="gift-card__price">
        <p>
          {% if settings.currency_code_enabled %}
            {{ gift_card.initial_value | money_with_currency }}
          {% else %}
            {{ gift_card.initial_value | money }}
          {% endif %}
        </p>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="gift-card__label badge">
            {{ 'gift_cards.issued.expired' | t }}
          </p>
        {%- endif -%}
      </div>

      {% if settings.currency_code_enabled %}
        {%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
      {% else %}
        {%- assign gift_card_balance = gift_card.balance | money -%}
      {% endif %}
      {%- if gift_card.balance != gift_card.initial_value -%}
        <p class="gift-card__label caption-large">
          {{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}
        </p>
      {%- endif -%}
    </header>

    <main class="gift-card">
      <div class="gift-card__image-wrapper">
        <img
          src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
          alt=""
          class="gift-card__image"
          height="{{ 570 | divided_by: 1.5 }}"
          width="570"
          loading="lazy"
        >
      </div>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <div class="gift-card__information">
        <input
          type="text"
          class="gift-card__number"
          value="{{ gift_card.code | format_code }}"
          aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
          readonly
        >
        <div class="gift-card__copy-code">
          <button class="link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
          <span class="gift-card__copy-success form__message" role="status"></span>
          <template>
            {%- render 'icon-success' -%}
            {{ 'gift_cards.issued.copy_code_success' | t }}
          </template>
        </div>
        {%- if gift_card.pass_url -%}
          <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
            <img
              src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
              width="120"
              height="40"
              alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
              loading="lazy"
            >
          </a>
        {%- endif -%}
        <div class="gift-card__buttons no-print">
          <a
            href="{{ shop.url }}"
            class="button"
            target="_blank"
            rel="noopener"
            aria-describedby="a11y-new-window-message"
          >
            {{ 'gift_cards.issued.shop_link' | t }}
          </a>
          <button
            class="button button--secondary"
            onclick="window.print();"
          >
            {{ 'gift_cards.issued.print_gift_card' | t }}
          </button>
        </div>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
